<div>
    <h2>Booking Movie</h2>
    <ul>
      <!-- <li><a [routerLink]="['/bookmovie', { paramFlag: 1 }]">Add Booking</a></li> -->
      <!-- <li><a [routerLink]="['/booking', { paramFlag: 2 }]">Update Ticket And Amount</a></li>
      <li><a [routerLink]="['/booking', { paramFlag: 3 }]">Delete Booking</a></li>
      <li><a [routerLink]="['/booking', { paramFlag: 4 }]">View All Booking</a></li>
      <li><a [routerLink]="['/booking', { paramFlag: 5 }]">View Booking By ID</a></li>
      <li><a [routerLink]="['/booking', { paramFlag: 6 }]">View Booking By Booking Date</a></li>
      <li><a [routerLink]="['/booking', { paramFlag: 7 }]">View Booking By Theatre ID</a></li>
      <li><a [routerLink]="['/booking', { paramFlag: 8 }]">Get Total Amount Moviewise</a></li> -->
    </ul>
  </div>
  