

<header id="header">

  <div id="logoa">
    <!-- <img src="C:\Users\YSOLANKI\Downloads\movie-open (1).svg"/> -->
    <p id="funmovie"><a id="logoa" routerLink="/"><b>FunMovie</b></a></p>
  </div>

  <nav >
    <ul>
      <li><button class="menuButton"><a routerLink="/movie">Movie</a></button></li>
      <li><button class="menuButton"><a routerLink="/theatre">Theatre</a></button></li>
      <li><button class="menuButton"><a routerLink="/screen">Screening</a></button></li>
      <li><button class="menuButton"><a routerLink="/customer">Customer</a></button></li>
      <li><button class="menuButton"><a routerLink="/bookmovie">Book Movie</a></button></li>
     
    </ul>
  </nav>
</header>
<hr id="hr">
<router-outlet></router-outlet>

